networks:
  exploration: null
services:
  backend:
    depends_on:
    - database
    - simulation
    devices:
    - /dev/bus/usb:/dev/bus/usb
    environment:
    - ARGOS_DRONES_STARTING_PORT=3995
    - ARGOS_NUMBER_OF_DRONES=2
    - ARGOS_ENDPOINT=simulation
    - DATABASE_ENDPOINT=database
    image: registry.gitlab.com/polytechnique-montr-al/inf3995/20213/equipe-100/inf3995-backend/backend:1.8.0
    networks:
    - exploration
    ports:
    - 8000:8000
  client:
    depends_on:
    - backend
    image: registry.gitlab.com/polytechnique-montr-al/inf3995/20213/equipe-100/inf3995-client/client:1.7.1
    networks:
    - exploration
    ports:
    - 8080:8080
  database:
    environment:
    - POSTGRES_PASSWORD=postgres
    image: postgres:14
    networks:
    - exploration
    ports:
    - 5432:5432
  simulation:
    environment:
    - DISPLAY
    image: registry.gitlab.com/polytechnique-montr-al/inf3995/20213/equipe-100/inf3995-simulation/simulation:1.2.8
    networks:
    - exploration
    privileged: true
    volumes:
    - /tmp/.X11-unix:/tmp/.X11-unix
version: '3.9'
