networks:
  exploration: null
services:
  backend:
    depends_on:
    - database
    - simulation
    devices:
    - /dev/bus/usb:/dev/bus/usb
    environment:
    - ARGOS_DRONES_STARTING_PORT=3995
    - ARGOS_NUMBER_OF_DRONES=2
    - ARGOS_ENDPOINT=simulation
    image: registry.gitlab.com/polytechnique-montr-al/inf3995/20213/equipe-100/inf3995-backend/backend:1.7.0
    networks:
    - exploration
    ports:
    - 8000:8000
  client:
    depends_on:
    - backend
    image: registry.gitlab.com/polytechnique-montr-al/inf3995/20213/equipe-100/inf3995-client/client:1.4.0
    networks:
    - exploration
    ports:
    - 8080:8080
  database:
    environment:
    - POSTGRES_PASSWORD=GOEXPLORE
    image: postgres:14-alpine
    networks:
    - exploration
    ports:
    - 5432:5432
  simulation:
    deploy:
      resources:
        reservations:
          devices:
          - capabilities:
            - gpu
            driver: nvidia
    environment:
    - DISPLAY
    - QT_X11_NO_MITSHM=1
    image: registry.gitlab.com/polytechnique-montr-al/inf3995/20213/equipe-100/inf3995-simulation/simulation:1.2.4
    networks:
    - exploration
    volumes:
    - /tmp/.X11-unix:/tmp/.X11-unix
version: '3.9'
